<div id="todoListWrapper"
     [ngClass]='currentFilter'>
  <ul id="allList"
      class="todoList">
    <li class="todoItem"
        *ngFor="let item of todoItemList; index as i">
      <app-todo-item [todoItem]='item'
                     [index]="i"></app-todo-item>
    </li>
    <li id="listInfo">
      <div id="itemsLeft"
           [ngPlural]="todoItemList.length">
        <ng-template ngPluralCase="=0">You have no todos</ng-template>
        <ng-template ngPluralCase="=1">{{todoItemList.length}} item left</ng-template>
        <ng-template ngPluralCase="other">{{todoItemList.length}} items left</ng-template>
      </div>
      <button id="clearCompletedButton"
              type="button"
              *ngIf="todoItemList.length > 0"
              (click)="clearCompletedItems()">
        Clear Completed
      </button>
    </li>
  </ul>
  <ul id="activeList"
      class="todoList">
    <div *ngFor="let item of todoItemList; index as i">
      <li *ngIf="item.getStatus() === 'active'"
          class="todoItem">
        <app-todo-item [todoItem]='item'
                       [index]="i"></app-todo-item>
      </li>
    </div>
    <li id="listInfo">
      <div id="itemsLeft"
           [ngPlural]="todoItemList.length">
        <ng-template ngPluralCase="=0">You have no todos</ng-template>
        <ng-template ngPluralCase="=1">{{todoItemList.length}} item left</ng-template>
        <ng-template ngPluralCase="other">{{todoItemList.length}} items left</ng-template>
      </div>
    </li>
  </ul>
  <ul id="completedList"
      class="todoList">
    <div *ngFor="let item of todoItemList; index as i">
      <li *ngIf="item.getStatus() === 'completed'"
          class="todoItem">
        <app-todo-item [todoItem]='item'
                       [index]="i"></app-todo-item>
      </li>
    </div>
    <li id="listInfo">
      <div></div>
      <button id="clearCompletedButton"
              type="button"
              *ngIf="todoItemList.length > 0"
              (click)="clearCompletedItems()">
        Clear Completed
      </button>
    </li>
  </ul>
</div>
