<div id="todoListWrapper"
     [ngClass]='currentFilter'>
  <ul id="allList"
      class="todoList"
      #allList>
    <div class="liWrapper"
         *ngFor="let item of todoItemList; index as i">
      <li class="todoItem">
        <app-todo-item [todoItem]='item'
                       [index]="i"
                       (statusChanged)="updateNumActiveItems($event)"></app-todo-item>
      </li>
    </div>
    <li class="listInfo">
      <div id="itemsLeft"
           [ngPlural]="numActiveItems">
        <ng-template ngPluralCase="=0">You have no todos</ng-template>
        <ng-template ngPluralCase="=1">{{numActiveItems}} item left</ng-template>
        <ng-template ngPluralCase="other">{{numActiveItems}} items left</ng-template>
      </div>
      <button id="clearCompletedButton"
              type="button"
              *ngIf="todoItemList.length > 0"
              (click)="clearCompletedItems()">
        Clear Completed
      </button>
    </li>
  </ul>
  <ul id="activeList"
      class="todoList"
      #activeList>
    <div class="liWrapper"
         *ngFor="let item of todoItemList; index as i">
      <li *ngIf="item.getStatus() === 'active'"
          class="todoItem activeItem">
        <app-todo-item [todoItem]='item'
                       [index]="i"
                       (statusChanged)="updateNumActiveItems($event)"></app-todo-item>
      </li>
    </div>
    <li class="listInfo">
      <div id="itemsLeft"
           [ngPlural]="numActiveItems">
        <ng-template ngPluralCase="=0">You have no todos</ng-template>
        <ng-template ngPluralCase="=1">{{numActiveItems}} item left</ng-template>
        <ng-template ngPluralCase="other">{{numActiveItems}} items left</ng-template>
      </div>
    </li>
  </ul>
  <ul id="completedList"
      class="todoList">
    <div class="liWrapper"
         *ngFor="let item of todoItemList; index as i">
      <li *ngIf="item.getStatus() === 'completed'"
          class="todoItem completedItem">
        <app-todo-item [todoItem]='item'
                       [index]="i"></app-todo-item>
      </li>
    </div>
    <li class="listInfo">
      <div></div>
      <button id="clearCompletedButton"
              type="button"
              *ngIf="todoItemList.length > 0"
              (click)="clearCompletedItems()">
        Clear Completed
      </button>
    </li>
  </ul>
</div>
