<div id="todoListWrapper">
  <div id="todoLists"
       [ngClass]='currentFilter'>

    <ul id="allList"
        class="todoList"
        cdkDropList
        cdkDropListLockAxis='y'
        (cdkDropListDropped)="drop($event)">
      <div *ngIf="todoItemList.length === 0">
        <li class="noTodos">You have no todos. Create some up above.</li>
      </div>
      <div *ngFor="let item of todoItemList; index as i"
           [ngClass]="currentTheme"
           class="dragWrapper"
           cdkDrag
           [cdkDragStartDelay]='dragStartDelay'>
        <li class="todoItem dragPlaceholder"
            *cdkDragPlaceholder>
        </li>
        <li class="todoItem">
          <app-todo-item [todoItem]='item'
                         [index]="i"
                         (statusChanged)="updateNumActiveItems($event)"></app-todo-item>
        </li>
      </div>
    </ul>
    <ul id="activeList"
        class="todoList"
        cdkDropList
        cdkDropListLockAxis='y'
        (cdkDropListDropped)="drop($event)">
      <div *ngIf="numActiveItems === 0">
        <li class="noTodos">You have no active todos. Relax, have a meat snack.</li>
      </div>
      <div *ngFor="let item of todoItemList; index as i"
           [ngClass]="currentTheme"
           class="dragWrapper"
           cdkDrag
           [cdkDragStartDelay]='dragStartDelay'>
        <li class="todoItem dragPlaceholder"
            *cdkDragPlaceholder>
        </li>
        <li *ngIf="item.getStatus() === 'active'"
            class="todoItem activeItem">
          <app-todo-item [todoItem]='item'
                         [index]="i"
                         (statusChanged)="updateNumActiveItems($event)"></app-todo-item>
        </li>
      </div>
    </ul>
    <ul id="completedList"
        class="todoList"
        cdkDropList
        cdkDropListLockAxis='y'
        (cdkDropListDropped)="drop($event)">
      <div *ngIf="numActiveItems === todoItemList.length">
        <li class="noTodos">You have no completed todos. Get busy?</li>
      </div>
      <div *ngFor="let item of todoItemList; index as i"
           [ngClass]="currentTheme"
           class="dragWrapper"
           cdkDrag
           [cdkDragStartDelay]='dragStartDelay'>
        <li class="todoItem dragPlaceholder"
            *cdkDragPlaceholder>
        </li>
        <li *ngIf="item.getStatus() === 'completed'"
            class="todoItem completedItem">
          <app-todo-item [todoItem]='item'
                         [index]="i"
                         (statusChanged)="updateNumActiveItems($event)"></app-todo-item>
        </li>
      </div>
    </ul>
  </div>

  <div id="listInfo">
    <div *ngIf="currentFilter !== 'completed'"
         id="itemsLeft"
         [ngPlural]="numActiveItems">
      <ng-template ngPluralCase="=0">You have no todos</ng-template>
      <ng-template ngPluralCase="=1">{{numActiveItems}} item left</ng-template>
      <ng-template ngPluralCase="other">{{numActiveItems}} items left</ng-template>
    </div>
    <div *ngIf="currentFilter !== 'active'"></div>
    <button *ngIf="currentFilter !== 'active'"
            class="clearCompletedButton"
            type="button"
            (click)="clearCompletedItems()">
      Clear Completed
    </button>
  </div>
</div>
