@use './breakpoints';

#appComponentWrapper.darkTheme {
  --bg-main: hsl(235, 21%, 11%);
  --bg-secondary: hsl(235, 24%, 19%);
  --text-secondary: hsl(234, 11%, 52%);
  --text-main: hsl(234, 39%, 85%);
  --todo-item-completed-text-color: hsl(233, 14%, 35%);
  --todo-list-item-border-color: hsl(233, 14%, 35%);
  --check-circle-border-color: hsl(237, 14%, 26%);
  --box-shadow-color: 0, 0, 0;
  // --box-shadow-color: rgb(0, 0, 0);
  // --light-grayish-blue-hover: hsl(236, 33%, 92%);

  --banner-image: url('../assets/images/bg-mobile-dark.jpg');
}

#appComponentWrapper.lightTheme {
  --bg-main: hsl(236, 33%, 92%);
  --bg-secondary: hsl(0, 0%, 98%);
  --text-secondary: hsl(236, 9%, 61%);
  --text-main: hsl(235, 19%, 35%);
  --todo-item-completed-text-color: hsl(233, 11%, 84%);
  --todo-list-item-border-color: hsl(233, 11%, 84%);
  --check-circle-border-color: hsl(233, 11%, 84%);
  --box-shadow-color: 128, 128, 128;
  // --box-shadow-color: rgb(128, 128, 128);

  --banner-image: url('../assets/images/bg-mobile-light.jpg');
}

#appComponentWrapper {
  --breakpoint-wide-screen: 800px;
  --filter-active-color: hsl(220, 98%, 61%);
  --status-button-bg-color: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.5rem;
  width: 100vw;
  min-height: 100vh;

  background-color: var(--bg-main);
  background-image: var(--banner-image);
  background-repeat: no-repeat;
  background-size: contain;

  header {
    width: 100%;
    padding: 4.5rem 0 3.5rem;

    app-header {
      display: block;
    }
  }

  main {
    overflow-x: hidden;

    app-add-todo {
      display: block;
      height: 4.9rem;
      margin-bottom: 1.5rem;
    }

    app-todo-list {
      display: block;
      margin-bottom: 1.5rem;
    }

    app-todo-filter {
      // relative position makes the browser pain this on top of app-todo-list's box-shadow
      position: relative;
      display: block;
      height: 4.9rem;
      margin-top: 1rem;
    }
  }

  #dragInfo {
    padding: 5rem 0;
    text-align: center;

    color: var(--text-secondary);
    opacity: 0.7;
    font-size: 1.4rem;
  }

  footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;

    color: var(--text-main);

    .attribution {
      width: 100%;
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  }
}

//// Tablet layout ////////////////////////////////////////////////

@media screen and (min-width: breakpoints.$tablet) {
  #appComponentWrapper {

    main {
      app-add-todo {
        height: 6.4rem;
        margin-bottom: 2.35rem;
      }

      app-todo-filter {
        bottom: 6.3rem;
        height: 4.5rem;
        margin: -0.1rem 30% 0;
      }
    }

    #dragInfo {
      padding-top: 0;
    }
  }
}


//// Wider screen layout ////////////////////////////////////////

@media screen and (min-width: breakpoints.$widescreen) {
  #appComponentWrapper.darkTheme {
    background-image: url('../assets/images/bg-desktop-dark.jpg');
  }

  #appComponentWrapper.lightTheme {
    background-image: url('../assets/images/bg-desktop-light.jpg');
  }

  #appComponentWrapper {

    header,
    main,
    #dragInfo,
    footer {
      width: 53.5rem;
    }

    header {
      padding: 8rem 0 4.8rem;
    }


  }

}
