#appComponentWrapper.darkTheme {
  --bg-main: hsl(235, 21%, 11%);
  --bg-secondary: hsl(235, 24%, 19%);
  --text-secondary: hsl(234, 11%, 52%);
  --text-main: hsl(234, 39%, 85%);
  --todo-item-completed-text-color: hsl(233, 14%, 35%);
  --todo-list-item-border-color: hsl(233, 14%, 35%);
  --check-circle-border-color: hsl(237, 14%, 26%);
  --box-shadow-color: 0, 0, 0;
  // --box-shadow-color: rgb(0, 0, 0);
  // --light-grayish-blue-hover: hsl(236, 33%, 92%);

  --banner-image: url('../assets/images/bg-mobile-dark.jpg');
}

#appComponentWrapper.lightTheme {
  --bg-main: hsl(236, 33%, 92%);
  --bg-secondary: hsl(0, 0%, 98%);
  --text-secondary: hsl(236, 9%, 61%);
  --text-main: hsl(235, 19%, 35%);
  --todo-item-completed-text-color: hsl(233, 11%, 84%);
  --todo-list-item-border-color: hsl(233, 11%, 84%);
  --check-circle-border-color: hsl(233, 11%, 84%);
  --box-shadow-color: 128, 128, 128;
  // --box-shadow-color: rgb(128, 128, 128);

  --banner-image: url('../assets/images/bg-mobile-light.jpg');
}

#appComponentWrapper {
  --filter-active-color: hsl(220, 98%, 61%);
  --status-button-bg-color: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  position: relative;
  padding: 0 2.5rem;
  width: 100vw;
  height: 100vh;

  background-color: var(--bg-main);
  background-image: var(--banner-image);
  background-repeat: no-repeat;
  background-size: contain;

  header {
    padding: 4.5rem 0 3.5rem;

    app-header {
      display: block;
    }
  }

  main {
    app-add-todo {
      display: block;
      height: 4.9rem;
      margin-bottom: 1.5rem;
    }

    app-todo-list {
      display: block;
      margin-bottom: 1.5rem;
    }

    app-todo-filter {
      // relative position makes the browser pain this on top of app-todo-list's box-shadow
      position: relative;
      display: block;
      height: 4.9rem;
      margin-top: 1rem;
    }
  }

  footer {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--text-main);

    .attribution {
      width: 100%;
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  }
}
