<div id="appComponentWrapper"
     [ngClass]='currentTheme'>
  <header>
    <app-header (themeChanged)="toggleTheme($event)"></app-header>
  </header>

  <main>
    <app-add-todo></app-add-todo>
    <app-todo-list></app-todo-list>
    <app-todo-filter></app-todo-filter>
  </main>

  <footer>
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge"
         target="_blank">Frontend Mentor</a>.
      Coded by <a target="_blank"
         href="https://github.com/Breckles">Waylon Carrier Nunes</a>.
    </div>
  </footer>
</div>
