<div id="todoFilterWrapper">
  <button id="allButton"
          type="button"
          [ngClass]="currentFilter === 'all' ? 'active' : 'inactive'"
          (click)="onFilterSelect('all')">All</button>
  <button id="activeButton"
          type="button"
          [ngClass]="currentFilter === 'active' ? 'active' : 'inactive'"
          (click)="onFilterSelect('active')">Active</button>
  <button id="completedButton"
          type="button"
          [ngClass]="currentFilter === 'completed' ? 'active' : 'inactive'"
          (click)="onFilterSelect('completed')">Completed</button>
</div>
